/* ==== HEADER SECTION ==== */

header {
    background-image: url(../../images/background.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-align: center;
}

header > a {
 float: left;
}

header > a > img {
    width:167px;
    height: 29px;
    margin-left: 171px;
    margin-top: 35px;
}

header > ul {
    float: right;
    margin-top: 37px;
}

header > ul > li {
    display: inline-block;
    width: 80px;
}

header > ul > li > a {
    text-decoration: none;
    color: white;
    font-family: Source Sans Pro;
}


header > div > h1 {
    font-family: Source Sans Pro;
    font-size: 120px;
    color: white;
    margin-top: 220px;
    margin-bottom: 0px;
}

header > div > p {
    font-family: Source Sans Pro;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    margin-top: 0px;
}

header > div > button {
    font-family: Source Sans Pro;
    color: white;
    width: 164px;
    height: 44px;
    border: 0 solid black;
    border-radius: 22px;
    background-color: #C271FF;
}

.main_part {
    display: flex;
    width: 1009px;
    margin: 0 auto;
    justify-content: space-between;
}

h2 {
    font-family: Source Sans Pro;
    font-size: 32px;
    color: white;
}

h2 > span {
    font-family: Source Sans Pro;
    font-size: 32px;
    color: #C271FF;
}

.main_part > div > img {
    width: 150px;
    border-radius: 50%;
}

.main_part > div {
    width: 150px;
}

h3 {
    font-family: Source Sans Pro;
    font-size: 18px;
    color: white;
}

.main_part > div > p {
    font-family: Source Sans Pro;
    font-size: 16px;
    color: #FFFFFF;
}
