/* ==== RESER DEFAULTS ==== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ==== HEADER SECTION ==== */

header {
    background-image: 
        radial-gradient(ellipse at center, #29303D00, #071629),
        url(../../images/background.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-align: center;
}


/* ==== NAV SECTION ==== */

nav {
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap: 1200px;
    height: 29px;
    padding-top: 30px;
}

nav > ul {
    list-style-type: none;
}

nav > a {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}

nav > ul > li {
    display: inline-block;
    width: 80px;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
}


header > div > h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 120px;
    font-weight: bold;
    color: white;
    margin-top: 220px;
    margin-bottom: 0px;
}

.hero-words {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 30px;
}

header > div > p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    margin-top: 0px;
}

header > div > button {
    font-family: "Source Sans Pro", sans-serif;
    fonts-size: 14px;
    color: white;
    width: 164px;
    height: 44px;
    border: 0 solid black;
    border-radius: 22px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #C271FF;
    margin-top: 30px;
}

.main_part {
    display: flex;
    width: 1009px;
    margin: 100px auto;
    justify-content: space-between;
}

h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 32px;
    color: white;
    margin-top: 150px;
}

h2 > span {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #C271FF;
}

.main_part > div > img {
    width: 150px;
    border-radius: 50%;
}

.main_part > div {
    width: 150px;
}

h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 8px;
}

.main_part > div > p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-style: italic;
    margin-top: 8px;
}



