/* ==== RESER DEFAULTS ==== */

* {
    box-sizing: border-box;
}


/* ==== HEADER CONFIGS ==== */

header {
    background-image: 
        radial-gradient(ellipse at center, #29303D00, #071629),
        url(../../images/background.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding: 50px;
    text-align: center;
}


/* ==== NAV SECTION ==== */

nav {
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap: 703px;
    height: 29px;
    /* padding-top: 30px; */
}

nav > a {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

nav span {
    font-size: 23px;
    color: white;
}

nav > div {
    display: flex;
    justify-content: space-between;
    width: 234px;
}

nav > div > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


/* ==== MAIN SECTION ==== */

.main-part h1 {
    font-size: 120px;
    font-weight: bold;
    color: white;
    margin-top: 220px;
    margin-bottom: 0px;
}

.main-part p {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;

    font-size: 16px;
    text-transform: uppercase;
    color: white;
}

.main-part button {
    fonts-size: 14px;
    color: whitea;
    width: 164px;
    height: 44px;
    border: 0 solid black;
    border-radius: 22px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #C271FF;
    margin-top: 30px;
}


/* ==== HERO SECTION ==== */

.hero-section h2 {
    font-size: 32px;
    color: white;
    margin-top: 50px;
}

.hero-section h2 span {
    color: #C271FF;
    font-weight: bold;
}


.hero-cards {
    display: flex;
    width: 1009px;
    margin: 100px auto;
    justify-content: space-between;
}

.hero-cards > div {
    width: 150px;
}


.hero-cards > div > img {
    width: 100%;
    border-radius: 50%;
}

.hero-cards h3 {
    font-size: 18px;
    color: white;
    margin-top: 8px;
}

.hero-cards p {
    font-size: 16px;
    color: #FFFFFF;
    font-style: italic;
    margin-top: 8px;
}



